* {
    background-color: rgb(160, 180, 124);
}

h1 {
    text-align: center;
    font-size: 40px;
}

p {
    text-align: center;
    font-size: 25px;
}

.title-page {
    margin-top: 20%;
    text-align: center;
}

#start-button {
    margin-left: auto;
    
}

#quiz {
    text-align: center;
    margin-top: 25%;
    font-size: 25px;
}